@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap:100,200,300,400,500,600,700');


.background-container {
    height: 100vh;
    background: url("../images/cornwall coast 3.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: 2s ease-in-out;
    text-align: center;
}

.gallery-container {
    background-color: rgb(2, 68, 112);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---alert---*/

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
    border-color: rgb(255, 251, 0);
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

/*---navbar---*/

.navbar-container {
    background: transparent; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.navbar-items li a {
    margin-top: 20px;
    margin-left: 35px;
    letter-spacing: 5px;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: x-large;
    color: rgb(1, 23, 95);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(2, 68, 112);
}

/*---title---*/

.container {
    height: 100vh;
    background: transparent; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.title  {
    letter-spacing: 8px;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: 10vh;
    color: rgb(2, 68, 112);
    padding-top: 8vh;
}

.title p {
    margin-bottom: 0;
}

/*---breaks---*/

.break-line {
    width: 300px;
    height: 5px;
    background-color: rgb(2, 68, 112);
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-breaks {
    width: 100px;
    height: 3px;
    background-color: rgb(2, 68, 112);
    margin-top: 20px;
}

.address-break {
    width: 50px;
    height: 3px;
    background-color: rgb(2, 68, 112);
    margin-bottom: 15px;
    margin-top: 20px;
}

.footer-break {
    width: 200px;
    height: 3px;
    background-color: #fff;
    margin-top: 30px;
}

/*---quote section---*/

.quote-icon {
    text-align: center;
    padding: 0px 15px 10px 10px;
    
}

.quote-icon a {
    text-decoration: none;
    color: #9c9b9b;
    text-align: center;
    text-transform: uppercase;
    font-family:'Tenali Ramakrishna', sans-serif;
    font-weight: 400;
    font-size: x-large;
}

.quote-icon a i {
    padding-top: 5px;
    padding-bottom: 15px;
    display: block;
    font-size: 30px;
    
}

/*---menu section---*/

.menu-background {
    background: url("../images/cafe-breakfast.jpg") center center;
    height: 50vh;
    margin-left: 0;
    margin-right: 0;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100vh;
}

.menu-container {
    background: transparent;
    padding-top: 125px;
    text-align: center;
}

.menu-callout {
    padding: 5px;
}

.menu-callout a {
    color: #fff;
}

.menu-border {
    padding: 20px;
    letter-spacing: 5px;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: large;
    color: #fff;
}

/*---info---*/

.info-background {
    background: url("../images/cornwall coast.jpg") center center; 
    margin-left: 0;
    margin-right: 0;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100vh;
}


.info-container {
    background: transparent; 
    color: #fff;
    padding: 10vh;
    text-align: center;
}

.info-headers {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    padding-bottom: 2vh;
}

.info {
    font-family:'Tenali Ramakrishna', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    
} 

/*---gallery---*/

.gallery {
    padding: 3vh 0;
    letter-spacing: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.gallery h1 {
    padding-bottom: 4vh;
}

.gallery ul {
    margin-bottom: 0;
}

.picture-1 {
    background: url("../images/chickenavocadosalad.jpg") no-repeat center center;
    height: 25vh;
    width: 20vh;
    margin-left: 3vh;
    background-size: cover;
    border: 5px solid white;
}

.picture-2 {
    background: url("../images/full english.jpg") no-repeat center center;
    height: 25vh;
    width: 20vh;
    margin-left: 3vh;
    background-size: cover;
    border: 5px solid white;
}

.picture-3 {
    background: url("../images/lemon-poppyseed-cake-1.jpg") no-repeat center center;
    height: 25vh;
    width: 20vh;
    margin-left: 3vh;
    background-size: cover;
    border: 5px solid white;
}

.picture-4 {
    background: url("../images/shakshuka.jpg") no-repeat center center;
    height: 25vh;
    width: 20vh;
    margin-left: 3vh;
    background-size: cover;
    border: 5px solid white;
}

.picture-5 {
    background: url("../images/smoothie.jpg") no-repeat center center;
    height: 25vh;
    width: 20vh;
    margin-left: 3vh;    
    background-size: cover;
    border: 5px solid white;
}

.picture-7 {
    background: url("../images/coffee-beans.jpg") center center;
    height: 25vh;
    width: 20vh;
    margin-left: 3vh;
    margin-top: 0;
    background-size: cover;
    border: 5px solid white;
}

/*---hover---*/ 

.menu-border:hover {
    background: #fff;
}

.menu-callout a:hover {
    color: rgb(2, 68, 112);
} 

.social-links li a i:hover {
    color: rgb(2, 68, 112);
    background: #fff;
}

/*---footer---*/

.footer-background {
    background: url("../images/tea.jpg") no-repeat center center;
    margin-left: 0;
    margin-right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100vh;
    min-height: 30vh;
}
    
.footer-header {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(2, 68, 112);
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.social-links {
    padding-bottom: 15px;
    text-align: center;
    margin-top: 30px;

}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 15px 5px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: rgb(2, 68, 112);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.message-container {
    background: rgb(2, 68, 112); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 5vh 0vh;
}

.message {
    letter-spacing: 8px;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    color: #fff;
}
